{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Approval Failure" %}{% endblock %}

{% block content %}
    <!-- Page content -->
    <div class="container mt--8 pb-5">
      <div class="row justify-content-center">
        <div class="col-lg-15 col-md-7">
          <div class="card bg-secondary shadow border-0">
            <div class="card-header bg-transparent pb-5">
              <div class="text-muted text-center mt-2 mb-3">
                Approval Failure
              </div>
            </div>
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-left text-muted mb-4">


<p>{% trans "Account Approval failed." %}</p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}


{% comment %}
**registration/admin_approve.html**

Used if account activation fails. With the default setup, has the following context:

``activation_key``
    The activation key used during the activation attempt.
{% endcomment %}
