{% extends 'layouts/base.html' %}
{% load i18n %}

{% load static %}
{% load leaflet_tags %}
{% leaflet_js %}
{% leaflet_css %}
{% load geojson_tags %}
<style>

    .leaflet-container-default {  /* all maps */
        width:  600px;
        height: 900px;
    }

    .leaflet-container {  /* all maps */
        width:  600px;
        height: 400px;
    }

    #specialbigmap {
        height: 800px;
    }
 

    /* Resize the "display_raw" textbox */
    .django-leaflet-raw-textarea {
        width: 100%;
    }

    
</style>


{% block title %} {% trans "Map" %} {% endblock title %}


{% block content %}
{% include "map/scripts.html" %}
    <!-- Header -->
    <div class="header bg-gradient-primary pb-6">
        <div class="container-fluid">
          <div class="header-body">
            <div class="row align-items-center py-4">
              <div class="col-lg-6 col-7">
                  <h6 class="h2 text-white d-inline-block mb-0">{% trans "Map" %}</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
<div class="container-fluid mt--6">
    <div id="map" >

    </div>
</div> 
 



    <script type="text/javascript">

var southWest = L.latLng(40.487676, -7.303033),
                northEast = L.latLng(40.580453, -7.159145),

                bounds = L.latLngBounds(southWest, northEast);


 var map = L.map('map').setView([40.55448333333333, -7.55295277777778],17);
 var osm = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
     attribution:
         '',
    maxBounds: bounds,
    maxZoom: 19,
    minZoom: 10
 }).addTo(map)
 var Arial = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
     attribution:
         '',
    maxBounds: bounds,
    maxZoom: 19,
    minZoom: 10
 })

 var geotiff = L.leafletGeotiff(
            '/static/leaflet/images/viseu.tiff',
            {
				band: 0,
                name: 'Wind speed',
                renderer: L.LeafletGeotiff.plotty({
                    // displayMin: 0,
					// displayMax: 30,
					// colorScale: 'rainbow',
					// clampLow: false,
					// clampHigh: true,
					// arrowSize: 20
				})
            }
        );

 var baseMaps = {
    "Osm":osm,
    "satelite": Arial
   
    
};
var geotiffmaps= {
"Geotiff": geotiff,
    
};
var layerControl = L.control.layers(baseMaps,geotiffmaps).addTo(map);

//map.on('drag', function() {
//	map.panInsideBounds(bounds, { animate: false });
//});

 var marker = L.marker([40.55448333333333, -7.55295277777778]).addTo(map);
//   var popup = marker.bindPopup('<b>Hello world!</b><br />I am a popup.');
//   popup.openPopup();

    </script>
</div>
{% include "includes/footer.html" %}
    {% endblock content %}
