{% load i18n %}

{% load static %}
{% load leaflet_tags %}
{% leaflet_js %}
{% leaflet_css %}
{% load geojson_tags %}

<style>

    .leaflet-container-default {  /* all maps */
        width:  600px;
        height: 900px;
    }

    .leaflet-container {  /* all maps */
        width:  600px;
        height: 400px;
    }

    #specialbigmap {
        height: 1000px;
    }
    #map {
        height: 800px !important;
    }

    /* Resize the "display_raw" textbox */
    .django-leaflet-raw-textarea {
        width: 100%;
    }

    

</style>

{% block content %}

    <!-- Header -->

  
        <html>
 
<body>
    <div>
        <div id="map" style="width: 800px; height: 600px;">
        </div>
   
       
    </div>

   


    <script type="text/javascript">

        var map = L.map('map').setView([40.655958, -7.912535],10);
        var osm = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution:
                '',
            maxZoom: 18,
           //  transparency: 'true',
           //  opacity: 0.5
        }).addTo(map)
        var Arial = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
            attribution:
                '',
            maxZoom: 18
        })
       
        var baseMaps = {
           "osm-viseu": osm,
           "satelite-viseu": Arial,
           
       };
       
         
       var layerControl = L.control.layers(baseMaps,{' <input type="radio"  name="leaflet-base-layers_27"  onclick="guarda()" class="form-range"><span> Guarda</span> <br> ':osm,'Opacity_layer <br> <input id="slide" type="range" min="0" max="1" step="0.1" value="0" onchange="updateOpacity(this.value)" class="form-range">':Arial,
       }
       ).addTo(map);
       
       
         var marker = L.marker([40.655958, -7.912535]).addTo(map);
                

           function guarda() {
            window.location.href='guarda'
           }  

           function updateOpacity(value) {
            osm.setOpacity(value);
    }  
       
       //  var popup = marker.bindPopup('<b>Hello world!</b><br />I am a popup.');
       //  popup.openPopup();
       
           </script>

 
            
</body>
</html>
    {% endblock content %}