<script src="/static/assets/vendor/jquery/dist/jquery.min.js" type="text/javascript"></script>
<script src="/static/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/static/leaflet/leaflet-geotiff.js"></script>
<script src="/static/leaflet/leaflet-geotiff-plotty.js"></script>
<script src="/static/leaflet/geotiff.js"></script>
<script src="/static/leaflet/plotty.js"></script>
<script src="/static/leaflet/leaflet-geotiff-vector-arrows.js"></script>
<script src="/static/leaflet/L.Control.Opacity.js"></script>
<script src="/static/leaflet/chroma.min.js"></script>
<link href="/static/leaflet/L.Control.Opacity.css" rel="stylesheet" />
<link href="/static/assets/css/timeline.css" rel="stylesheet" />
