{% extends 'layouts/base.html' %}

{% load i18n %}
{% load static %}
{% load leaflet_tags %}
{% leaflet_js %}
{% leaflet_css %}
{% load geojson_tags %}
<style>

    .leaflet-container-default {  /* all maps */
        width:  600px;
        height: 900px;
    }

    .leaflet-container {  /* all maps */
        width:  600px;
        height: 400px;
    }

    #specialbigmap {
        height: 800px;
    }
 

    /* Resize the "display_raw" textbox */
    .django-leaflet-raw-textarea {
        width: 100%;
    }
    .mt--6, .my--6 {
    margin-top: -220px !important;
}
#legend {
            background: linear-gradient(to right, red, yellow, green);
            height: 20px;
            width: 200px;
        }
    
</style>


{% block title %} {% trans "Map" %} {% endblock title %}

{% block content %}




{% include "map/scripts.html" %}
{% include "includes/scripts.html" %}
{% include "includes/modalwelcome.html" %}


    <div class="header bg-gradient-primary pb-6">
        {% if messages %}
{% for message in messages %}
  <div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert">
    ×
    </button>
    <strong>{{message}}</strong>
  </div>
{% endfor %}
{% endif %}


     <div class="container-fluid">
      <div class="header-body">
       <div class="row align-items-center py-4">
    

        <div class="col-lg col-sm">
        <div class="panel panel-default" >
            <div class="panel-body">
                <div class="card">

<ol id="menu" class="ol_menu" >
<!-- Displaying geotiff images -->
<!-- {% for time in timeline %}

   <li  class="menu_item">
   
     <button href="#0" onclick="display_geotiff(this)"  class="buttoncalendare"  value="{{time.year.year}}{{time.year.month}}{{time.year.day}}" id="{{time.id}}" data-date="{{ time.year.day }}/{{ time.year.month }}/{{ time.year.year }}">
       <span>
         <u>
           <strong>{{ time.year.year}}/{{ time.year.month}}</strong>
         </u>
       </span>
    </button>
  </li>
                                       
    {% if time.geotiff %}
        <script  type="text/javascript">
            var tiffLayers={};
            var tiflayerids=[];
            var geotiffids=[];
            var popus=[];
    
            function display_geotiff(elem){
                                           
                $(document).ready(function() {
                                          
                    plotty.addColorScale('Viseu', ['#D3D0D0', '#646262', '#292828'], [0, 0.5, 1])
                    var dir= '{{image_url}}'+elem.value+'.tiff'
                    $('<img>').load(dir, function(response, status) {
    
                        if (status === 'success' ) {

                            tiflayerids.forEach(element => {
                                tiffLayers[element].remove();
                                geotiffids[element].remove();
                                map.closePopup(); 
 
                            }) 
                            tiflayerids = []
                            popus= []
                            
                            tiflayerids.push(elem.value)
                            
                                           
                            tiffLayers[elem.value]=L.leafletGeotiff(
                                dir,
                                {
                                    band: 0,
                                    name: 'DTM',
                                    renderer: L.LeafletGeotiff.plotty({
                                        displayMin: -1,
                                        displayMax: 1,
                                        colorScale: 'Viseu',
                                        clampLow: false,
                                        clampHigh: true,
                                        arrowSize: 20
                                    })
                                },
                            ).addTo(map);

                            geotiffids[elem.value]=  L.control.opacity({
                                'geotiff':  tiffLayers[elem.value],
                            }).addTo(map);

                            map.on('click', function(e) {
                                var elevation = tiffLayers[elem.value].getValueAtLatLng(e.latlng.lat,e.latlng.lng);
                                popus[elem.value] = L.popup().setLatLng(e.latlng).setContent("Value:" + elevation).openOn(map);
                               
                            })
                       }
                   });// end load image
               }) // end (document).ready 
           } // end function display_geotiff
                                        
    
       </script>
   
   {% endif %}
{% endfor %} -->

<!-- Displaying kml files -->

{% for kml in kmlfiles %}

   <li  class="menu_item">
   
     <button href="#0" onclick="display_kml(this)"  class="buttoncalendare"  value="{{kml.year.year}}{{kml.year.month}}{{kml.year.day}}" id="{{kml.id}}" data-date="{{ kml.year.day }}/{{ kml.year.month }}/{{ kml.year.year }}">
       <span>
         <u>
           <strong>{{ kml.year.year}}/{{ kml.year.month}}</strong>
         </u>
       </span>
    </button>
  </li>
                                       
    {% if kml.year %}
        <script  type="text/javascript">
    var kmlLayers = [];
    var newLayers = [];
    var newKMLLayer = [];
    var currentKMLLayer;
    var legend = L.control({ position: "topright" });
   
    function display_kml(elem){
              
        $(document).ready(function() {

            var dir= '{{kml_url}}'+elem.value+'.kml'
            Showkml(dir)


            if (currentKMLLayer) {
        map.removeLayer(currentKMLLayer); // Remove the previous KML layer
      }

      map.eachLayer(function (layer) {
        if (layer instanceof L.Marker) {
          map.removeLayer(layer);
        }
      });

        }) 
}                     
    
       </script>
   
   {% endif %}
{% endfor %}
</ol>                
<ul  style="list-style: none;">
    <li><button  disabled  class="inactive fa fa-chevron-circle-left buttonprev" id="prevBtn" style="margin-left: -40px;margin-top: -17px;float: left"></button></li>
    <li><button style="float: right;margin-top: -17px; "class="next fa fa-chevron-circle-right buttonprev" id="nextBtn"></button></li>

</ul>

</div>
</div>
</div>
</div>
</div> 
</div>

<div class="header bg-gradient-primary pb-6">
<div class="container-fluid">
<div class="header-body">
<div class="row align-items-center py-4">
<div class="col-lg-6 col-7">
<h6 class="h2 text-white d-inline-block mb-0">{% trans "Map" %}</h6>
</div>
</div>
</div>
</div>
</div>
 

  </div>

</div>

<div class="container-fluid mt--6" style="margin-top: -160px !important;">
    <div id="map" >

    </div>
</div>
              <script type="text/javascript">
          
            var southWest = L.latLng(40.628063, -7.759102),
                          northEast = L.latLng(40.682284, -7.681711),
          
                          bounds = L.latLngBounds(southWest, northEast);
          
          
           var map = L.map('map', null, {
             
             
          })
          
          // .setView([40.655958, -7.912535],11);
          .setView([40.6094361111,-7.6990972222],16);
          
          
          //map.on('drag', function() {
          //	map.panInsideBounds(bounds, { animate: false });
          //});
   

           var osm = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
               attribution:
                   '',
            
            //    maxBounds: bounds,
            //   maxZoom: 19,
            //   minZoom: 10
              //  transparency: 'true',
              //  opacity: 0.5
           })
            .addTo(map)
           
           var Arial = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
               attribution:
                   '',
            //   maxBounds: bounds,
            //   maxZoom: 19,
            //   minZoom: 10
           })

           var baseMaps = {
              "Osm": osm,
              "Satelite": Arial,
              
              
          };
          var geotiffmaps= {
          // "Geotiff": geotiff,
              
          };
           L.control.layers(baseMaps).addTo(map);
          
        //    function updateOpacitybasemap(value) {
        //     Arial.setOpacity(value);
        //                                          }
        
            //  var marker = L.marker([40.6094361111, -7.6990972222]).addTo(map);
          

          //  var popup = marker.bindPopup('<b>Hello world!</b><br />I am a popup.');
          //  popup.openPopup();
          
           </script>
             
             <script>
  
                $('ol li:gt(2)').hide();
                
                $('.next').click(function() {
                   var last = $('#menu').children('li:visible:last');
                   last.nextAll('li:lt(3)').show();
                      if(last.nextAll('li').length <4){ 
                   $('.next').attr('disabled', true);
                    }
                   $('.inactive').attr('disabled', false);

                    $('.inactive').show(); 
                    last.next().prevAll('li').hide(); 
                   });

                   $('.inactive').click(function() {
                       var first = $('#menu').children('li:visible:first');
                    first.prevAll('li:lt(3)').show();
                     if(first.prevAll('li').length <4){
                     $('.inactive').attr('disabled', true); 
                          }
                   $('.next').attr('disabled', false);

                  first.prev().nextAll('li').hide();
                     $('.next').show();

                         });


            
           </script>
       <script>
        document.addEventListener("DOMContentLoaded", function() {
            $('#modalwelcome').modal('show');
            Showkml('https://geodrout.s3.amazonaws.com/media/202375.kml')
        });
    </script>      

{% include "includes/footer.html" %}
    {% endblock content %}
