
{% include "includes/scripts.html" %}
<style>

body{
    margin-top:20px;
    background:#eee;
}
#progress {
  position: relative;
  margin-bottom: 30px;   
}
#progress-bar {
  position: absolute;
  background: lightseagreen;
  height: 5px;
  width: 0%;
  top: 50%;
  left: 0;
}
#progress-num {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
#progress-num::before {
  content: "";
  background-color: lightgray;
  position: absolute;
  top: 50%;
  left: 0;
  height: 5px;
  width: 100%;
  z-index: -1;
}
#progress-num .step {
  border: 3px solid lightgray;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  background-color: #fff;
  font-family: sans-serif;
  font-size: 14px;    
  position: relative;
  z-index: 1;
}
#progress-num .step.active {
  border-color: lightseagreen;
  background-color: lightseagreen;
  color: #fff;
}




</style>
<script>
  
</script>
<link href="/static/assets/css/timeline.css" rel="stylesheet" />
<script src="/static/assets/js/timeline.js"></script>
<div id="progress">
    <div id="progress-bar"></div>
    <ul id="progress-num">
      <li class="step active">1</li>
      <li class="step">2</li>
      <li class="step">3</li>
      <li class="step">4</li>
    </ul>
  </div>
  <button id="progress-prev" class="btn" disabled>Prev</button>
<button id="progress-next" class="btn">Next</button>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="body">
                    <div class="cd-horizontal-timeline loaded">
                        <div class="timeline">
                            <div class="events-wrapper">
                                <div class="events" style="width: 1800px;">
                                    <ol>
                                      
                                     
                                      <li><a href="#0" data-date="16/01/2017" class="older-event" style="left: 120px;">2017</a></li>
                                      <li><a href="#0" data-date="28/02/2017" style="left: 300px;" class="older-event">2018</a></li>
                                      <li><a href="#0" data-date="20/04/2017" style="left: 480px;" class="selected">2019</a></li>
                                      <li><a href="#0" data-date="20/05/2017" style="left: 600px;">2020</a></li>
                                      <li><a href="#0" data-date="09/07/2017" style="left: 780px;">09 Jul</a></li>
                                      <li><a href="#0" data-date="30/08/2017" style="left: 960px;">30 Aug</a></li>
                                      <li><a href="#0" data-date="15/09/2017" style="left: 1020px;">15 Sep</a></li>
                                      <li><a href="#0" data-date="01/11/2017" style="left: 1200px;">01 Nov</a></li>
                                      <!-- <li><a href="#0" data-date="10/12/2017" style="left: 1380px;">10 Dec</a></li>
                                      <li><a href="#0" data-date="19/01/2018" style="left: 1500px;">29 Jan</a></li>
                                      <li><a href="#0" data-date="03/03/2018" style="left: 1680px;">3 Mar</a></li> -->
                                    </ol>
                                    <span class="filling-line" aria-hidden="true" style="transform: scaleX(0.281506);"></span>
                                </div>
                                <!-- .events -->
                            </div>
                            <!-- .events-wrapper -->
                            <ul class="cd-timeline-navigation">
                                <li><a href="#0" class="prev inactive">Prev</a></li>
                                <li><a href="#0" class="next">Next</a></li>
                            </ul>
                            <!-- .cd-timeline-navigation -->
                        </div>
                        <!-- .timeline -->
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <script>const progressBar = document.getElementById("progress-bar");
        const progressNext = document.getElementById("progress-next");
        const progressPrev = document.getElementById("progress-prev");
        const steps = document.querySelectorAll(".step");
        let active = 1;
        progressNext.addEventListener("click", () => {
  active++;
  if (active > steps.length) {
    active = steps.length;
  }
  updateProgress();
});

progressPrev.addEventListener("click", () => {
  active--;
  if (active < 1) {
    active = 1;
  }
  updateProgress();
});
const updateProgress = () => {
  // toggle active class on list items
  steps.forEach((step, i) => {
    if (i < active) {
      step.classList.add("active");
    } else {
      step.classList.remove("active");
    }
  });
  // set progress bar width  
  progressBar.style.width = 
    ((active - 1) / (steps.length - 1)) * 100 + "%";
  // enable disable prev and next buttons
  if (active === 1) {
    progressPrev.disabled = true;
  } else if (active === steps.length) {
    progressNext.disabled = true;
  } else {
    progressPrev.disabled = false;
    progressNext.disabled = false;
  }
};
</script>

