@import url('https://fonts.googleapis.com/css?family=Ubuntu');

*, *::after, *::before {
  box-sizing: border-box;
}
.pb-4, .py-4 {
  padding-bottom: 0.75rem !important;
}

.buttonprev{
  color: #04515c;;
  text-decoration: none;
  background-color: transparent;
  border: none;
  font-size: 20px;
  text-align: center;
  font-weight: bold!important;
}
.buttoncalendare{
color: #5e72e4;
text-decoration: none;
background-color: transparent;
border-radius: 50%;
height: 50px;
width: 50px;
background-color: #b2a920;
color: #2c2c2c;
font-size: 13px;
border: 2px solid #727376;
box-shadow: 2px 2px 2px 2px #c5c0c0;
height: 50px !important;
width: 50px !important;
        }
.ol_menu{
list-style: none;
display: flex;
margin-top: 20px;
margin-left: 45px;
background-color: lightgrey;
height: 5px!important;  
justify-content: end;
width: 90%;
}

.menu_item{
  flex-grow: 1;margin-top: -25px!important;padding-left: 50px;
}

button, button:hover, button:active, button:focus {
  outline: 0;
}

/* vertical menu styles */
@media (max-width: 800px) {
  .ol_menu{
     
     margin-left: 10px !important;
     margin-top: 25px !important;

  
  }

  #prevBtn {
    margin-top: 0px !important;
  }
  #nextBtn{
    margin-top: 0px !important;
  }
  .card {

    height: 70px !important;
 }


}
@media (max-width: 600px) {
  .menu_item {

    padding-left: 35px !important;

 }
 
}
.card {
  margin-bottom: 0px;
  box-shadow: 0 0 2rem 0 rgb(136 152 170 / 15%);
  border: 0;
  margin-top: -15px;
  height: 50px;
  background-color: #f6f9fc;
  border-radius: 25px;
}

