
    <footer class="py-5">
      <div class="container">
        <div class="row align-items-center justify-content-xl-between">
          <div class="col-xl-12">
            <div class="text-center text-xl-right text-muted">
               &copy; <a target="_blank" 
                         href="https://teromovigo.com">TeroMovigo</a> 
            </div>
          </div>
        </div>
      </div>
    </footer>
