
      <!-- Footer -->
      <footer class="footer">
        <div class="row align-items-center justify-content-xl-between">
          <div class="col-xl-12">
            <div class="text-center text-xl-right text-muted">
              <a href="https://teromovigo.com" 
                 class="font-weight-bold ml-1" target="_blank"> &copy; TeroMovigo</a> 
            </div>
          </div>
        </div>
      </footer>
