{% load i18n %}
{% load crispy_forms_tags %}



<div class="modal fade" tabindex="-1" role="dialog" id="modalwelcome">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
       
        <h5 class="modal-title">{% trans "See variation value" %}
         
        </h5>
       
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <p style="font-weight: normal;"><strong style="color: blue;">{% trans "Note:" %}</strong> {% trans "The maps show the observed ambient dose rate in nSv/h. The observations were made with a gamma-ray spectrometer, a Medusa MS-700, installed on a drone." %}</p>
      </div>
      <div class="modal-footer">
 
        <button type="button" class="btn btn-primary my-4" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


