{% load i18n %}

<nav id="navbar-main" class="navbar navbar-horizontal navbar-transparent navbar-main navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" href="https://teromovigo.com">
      <img src="/static/assets/img/brand/teromovigo_white.png" alt="TeroMovigo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse navbar-custom-collapse collapse" id="navbar-collapse">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a href="https://teromovigo.com">
              <img src="/static/assets/img/brand/teromovigo_black.png">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href="/authentication/login?next=/{{ LANGUAGE_CODE }}/map" class="nav-link">
              <span class="nav-link-inner--text">{% trans "Login" %}</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'register' %}" class="nav-link">
              <span class="nav-link-inner--text">{% trans "Register" %}</span>
          </a>
        </li>
      </ul>
      <hr class="d-lg-none" />
      <ul class="navbar-nav align-items-lg-center ml-lg-auto">

    {% get_current_language as LANGUAGE_CODE %}
    {% get_available_languages as LANGUAGES %}
    {% get_language_info_list for LANGUAGES as languages %}
    {% for language in languages %}
           <li>
            <a href="javascript:redirectFunc('{{ language.code }}')"
               class="{% if language.code == LANGUAGE_CODE %}selected{% endif %} text-white" 
               lang="{{ language.code }}">
                {{ language.code }}|
            </a>
        </li>
    {% endfor %}
          
        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="https://www.facebook.com/teromovigo" 
             target="_blank" data-toggle="tooltip" data-original-title="Like us on Facebook">
            <i class="fab fa-facebook-square"></i>
            <span class="nav-link-inner--text d-lg-none">Facebook</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="https://www.linkedin.com/company/teromovigo/" 
             target="_blank" data-toggle="tooltip" data-original-title="Follow us on Linkedin">
            <i class="fab fa-linkedin"></i>
            <span class="nav-link-inner--text d-lg-none">Linkedin</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>


        <script>
            function redirectFunc(new_code) {
                var url = "{{ request.get_full_path }}";
                window.location.href = url.replaceAll("/{{ LANGUAGE_CODE }}","/"+new_code);
            };
        </script>
