
  <!--   Core   -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/static/assets/js/core/bootstrap.bundle.min.js"></script>
  <!--   Optional JS   -->
  <!--   Argon JS   -->
  <script src="/static/assets/js/argon-dashboard.min.js"></script>
  <script src="/static/assets/js/argon.min.js"></script>
