{% load i18n %}
{% load static %}

{% get_current_language as LANGUAGE_CODE %}

<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
  <div class="scrollbar-inner">
    <!-- Brand -->
    <div class="sidenav-header  align-items-center">
      <a class="navbar-brand" href="/">
        <img src="{% static 'assets/img/brand/teromovigo_black.png' %}" class="navbar-brand-img" alt="TeroMovigo">
      </a>
    </div>
    <div class="navbar-inner">
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Nav items -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link {% if 'map' in segment %} active {% endif %}" href="{% url 'viseu' %}">
              <i class="fa fa-globe text-primary"></i>
              <span class="nav-link-text">{% trans "Cunha Baixa" %}</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'map' in segment %} active {% endif %}" href="{% url 'guarda' %}">
              <i class="fa fa-globe text-primary"></i>
              <span class="nav-link-text">{% trans "Guarda" %}</span>
            </a>
          </li>
    
         
          <li class="nav-item">
            <a class="nav-link {% if 'profile' in segment %} active {% endif %}" href="{% url 'edit_user' user.id %}">
              <i class="ni ni-single-02 text-yellow"></i>
              <span class="nav-link-text">{% trans "User Profile" %}</span>
            </a>
          </li>
     

          <li class="nav-item">
            <a class="nav-link" href="{% url 'auth_logout' %}">
              <i class="ni ni-user-run text-red"></i>
              <span class="nav-link-text">{% trans "Logout" %}</span>
            </a>
          </li>            
        </ul>

      </div>
    </div>
  </div>
</nav>
