{% extends 'layouts/base-fullscreen.html' %}

{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans "Register for an account" %}{% endblock %}

{% block content %}



    <!-- Page content -->
    <div class="container mt--8 pb-5">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
          <div class="card bg-secondary shadow border-0">
            <div class="card-header bg-transparent pb-5">
               
                {% if form.errors %}

                {% for field in form %}
                {% for error in field.errors %}
               <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">
                  ×
                  </button>
              <strong>{{ error|escape }}</strong>
              
              </div>
             {% endfor %}
             {% endfor %}
            {% for error in form.non_field_errors %}
           <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">
              ×
              </button>
         <strong>{{ error|escape }}</strong>

         </div>
{% endfor %}
{% endif %}
              <div class="text-muted text-center mt-2">
                Register
              </div>
              
            </div>
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-left text-muted mb-4">

<form method=Post action=" {% url 'register' %}">
    {% csrf_token %}
   <div class="form-group">
        <div class="input-group input-group-alternative"> 
          <div class="input-group-prepend">
            <span class="input-group-text" >
              <i class="fas fa-user fa-lg me-3 fa-fw"></i></span>
          </div>
          {{ form.username }}
        </div>
      </div>
      <div class="form-group">
        <div class="input-group input-group-alternative"> 
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-envelope fa-lg me-3 fa-fw"></i></span>
          </div>
          {{ form.email }}
        </div>
      </div> 

    <div class="form-group">
        <div class="input-group input-group-alternative"> 
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-lock fa-lg me-3 fa-fw"></i></span>
          </div>
          {{ form.password1 }}
        </div>
      </div>
      <div class="form-group">
        <div class="input-group input-group-alternative"> 
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-key fa-lg me-3 fa-fw"></i></span>
          </div>
          {{ form.password2 }}
        </div>
      </div>
     
      <input type="submit" value="submit" class="btn btn-primary my-4">
</form>



{% endblock %}


{% comment %}
**registration/registration_form.html**
Used to show the form users will fill out to register. By default, has
the following context:

``form``
    The registration form. This will be an instance of some subclass
    of ``django.forms.Form``; consult `Django's forms documentation
    <http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
    information on how to display this in a template.
{% endcomment %}
