{% extends 'layouts/base.html' %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}{% blocktrans %}Update Profile Info{% endblocktrans %} {% endblock title %}

{% block content %}


<div class="header pb-6 d-flex align-items-center" 
     style="min-height: 300px; background-image: url(/static/assets/img/photos/profile-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-default opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid mt--0">
  <div class="col-lg-8 col-md-5">
      <h1 class="display-2 text-white">
          {% trans "Hello" %} {{ request.user.username }}
        </h1>
        <p class="text-white mt-0 mb-2">{% blocktrans %}Here you can update your profile page.{% endblocktrans %}</p>
   </div>
   </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--6">

    <div class="col-xl-8 order-xl-1">
      <div class="card">
      <div class="card-body">
<!-- Material form is just a materialize thing for django forms -->
        <div class="card-content">
        <!-- <h2 class="flow-text">{% blocktrans %}Update your information{% endblocktrans %}</h2> -->
        <form action="{{ request.user.id }}" method="POST" class="padding">
            {% csrf_token %} 
            
            {{ noodle_form.as_p }}
            <!-- <div class="divider"></div>
            {{ formset.management_form }}
                {{ formset.as_p}} -->
 
                <button  class="btn btn-success" type="submit">{% trans "Save" %}</button>
                <button type="cancel" class="btn btn-dark">{% trans "cancel" %}</button>

        </form>
        </div>

      </div>
      </div>
  </div>

  {% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

{% endblock javascripts %}
