{% extends 'layouts/base.html' %}
{% load i18n %}
{% load static %}

<!--{% get_current_language as LANGUAGE_CODE %} -->

{% block title %} {% trans "Profile" %} {% endblock title %}

{% block content %}
<style>[contenteditable] { outline: 1px solid #ccc; }</style>
<div class="header pb-6 d-flex align-items-center" 
     style="min-height: 300px; background-image: url(/static/assets/img/photos/profile-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-default opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid mt--0">
  <div class="col-lg-8 col-md-5">
      <h1 class="display-2 text-white">
          {% trans "Hello" %} {{ request.user.username }}
        </h1>
        <!-- <p class="text-white mt-0 mb-2">{% blocktrans %}This is your profile page.{% endblocktrans %}</p> -->
   </div>
   </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--8">

<!------  ---->

  <div class="row">

    <div class="col-xl-8 order-xl-1">
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-8">
              <form>
           
                <div id="data">
                <div class="form-group">
                  <label for="exampleInputUsername">Username</label>
                  <input type="text" class="form-control" value="{{ request.user.username }}" id="username" disabled>
                </div>

                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" class="form-control" value="{{ request.user.email }}" id="email" disabled>

                </div>
              </div>
              </form>
   
           

                <!-- <table class="table table-borderless">
                   <thead>
                      <tr>
                          <th>{% trans "Field" %}</th>
                          <th>{% trans "Value" %}</th>
                      </tr>
                   </thead>
                   <tbody>
                      <!-- <tr>
                          <td>{% trans "First name" %}</td>
                         <td>{{ request.user.first_name }}</td>
                      </tr>
                      <tr>
                          <td>{% trans "Last name" %}</td>
                         <td>{{ request.user.last_name }}</td>
                      </tr>
                      <tr> -->
                        <!-- <tr>
                          <td>{% trans "User name" %}</td>
                         <td>{{ request.user.username }}</td>
                      </tr>
                      <tr>
                          <td>{% trans "E-mail" %}</td>
                         <td>{{ request.user.email }}</td>
                      </tr> -->
                      <!-- <tr>
                          <td>{% trans "Organisation" %}</td>
                         <td>{{ request.user.organization }}</td>
                      </tr>
                      <tr>
                          <td>{% trans "Country" %}</td>
                         <td>{{ request.user.country }}</td>
                      </tr>
                      <tr>
                        <td>{% trans "Is staff" %}</td>
                        {% if request.user.is_staff %}
                         <td> <i class="bi-check2" style="font-size: 1rem; color: green;"></i>
                       {% else %}
                         <td><i class="bi-x-lg" style="font-size: 1rem; color: red;"></i></td>
                       {% endif %}

                    </tr> -->
                   <!-- </tbody>
                </table> --> 

                <div class="btn-group">
                  <button type="button" name="edit" id="edit" class="btn btn-primary btn-lg btn-block login-button" value="Edit" >
                  </button>
                  <!-- <a href="/{{ LANGUAGE_CODE }}/authentication/update/{{ request.user.id }}" class="btn btn-warning active">{% trans "Change profile" %}</a> -->
                </div>
                <div class="btn-group">
                  <a href="/{{ LANGUAGE_CODE }}/authentication/password_change" class="btn btn-info active">{% trans "Change password" %}</a>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 
  {% include "includes/footer.html" %}

</div>
<script>


// document.getElementById("username").disabled = document.getElementById("username").disabled ? false : true;
// document.getElementById("email").disabled = document.getElementById("email").disabled ? false : true;
var data = document.getElementById('data')
    btn  = document.getElementById('edit')
    lis  = data.querySelectorAll('input')

btn.addEventListener('click', function(e){
  lis.forEach(function(input){
    input.setAttribute('contenteditable', true);  
  });
  
  if( lis[0].hasAttribute('contenteditable') ){
    // Currently editing, change the button
    btn.innerText = 'Click here to Save';
  } else {
    // We just "saved". run "save functions" here
    btn.innerText = 'Click here to Edit';
  }
});
</script>
{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
