{% extends 'layouts/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}{% blocktrans %}Update Profile Info{% endblocktrans %} {% endblock title %}

{% block content %}


<div class="header pb-6 d-flex align-items-center" 
     style="min-height: 300px; background-image: url(/static/assets/img/photos/profile-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-default opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid mt--0">
  <div class="col-lg-8 col-md-5">
      <h1 class="display-2 text-white">
          {% trans "Hello" %} {{ request.user.username }}
        </h1>
        <!-- <p class="text-white mt-0 mb-2">{% blocktrans %}Here you can change your password.{% endblocktrans %}</p> -->
   </div>
   </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--6">

    <div class="col-xl-8 order-xl-1">
      <div class="card">
      <div class="card-body">
<!-- Material form is just a materialize thing for django forms -->
        <div class="card-content">

    <div class="content-section">
        <!-- <h2>{% blocktrans %}Password Reset Confirm{% endblocktrans %}</h2> -->
        <!-- <p>{% blocktrans %}Please enter your new password.{% endblocktrans %}</p> -->
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <br>
            <div class="divider"></div>
            <button type="submit" class="btn btn-success">{% trans "Save" %}</button>
            <a href="javascript:history.back()" class="btn btn-dark">{% trans "Cancel" %}</a>
        </form>
    </div>
  

        </form>
        </div>

      </div>
      </div>
  </div>

  {% include "includes/footer.html" %}

</div>

{% endblock content %}
